.task{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background: #333;
    box-shadow: 5px 5px 10px #222222,
                -5px -5px 10px #222222;
    padding: 0 8px 0 30px;
}