.delete-button{
    border-radius: 20px;
}

.delete-button:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    gap: 0;
}

.delete-all-button{
    border-radius: 20px;
}

.delete-all-button:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    gap: 0;
}