.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 30px 0 5px 0;
    padding: 0;
}

.filters li{
    list-style: none;
}

input[type="radio"]{
    appearance: none;
}
  